:root{
    --background-color: rgb(218, 218, 218);
    --button: rgb(224, 144, 114);   
}
body {
    margin: 0;
    overflow-x: hidden;
    box-sizing:border-box;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
 p {
     font-weight: 300;
 }

/* Header bar */
header {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    background-color: var(--background-color);
}
.fas {
    margin: 25px;
}

.logo {
    width: 100px;
}

/* re-size images  */
.cat-image {
    width: 100%;
    max-width: 600px;
}

/* blocks  */
.block {
    margin: auto 7%;
}
.grey-block {
    background-color: var(--background-color);
    text-align: center;
    padding: 25px 0 30px 0;
}
/* list styling */

ul li{
    font-weight: 300;
    margin-bottom: 15px;
}
ul.list-2 {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

#list-2 {
    list-style-type: none;
}
#list-2 div {
    display: flex; 
}

button {
    width: 100%;
    border: none;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--button);
    padding: 15px;
    position: sticky;
    bottom: 0;
}
.hidden {
    display: none;
}

/* tablet to desktop size  */
@media only screen and (min-width: 768px)  {
    .flex{
        display: flex;
        justify-content: center;
    }
    button {
        display: none;
    }
    .hidden {
        display: block;
    }
  }

  